@charset "utf-8";
/* CSS Document */
body.wp-admin .w100{ width:100%; }
.group-row td{
	padding-top: 0;
	padding-bottom: 0;
	padding:0;
}#poststuff .group-row .tt{
	padding: 0;
	margin: 0;
	font-weight: bold;
	position:relative;
	padding-left:10px;
}#poststuff .group-row .tt:before{
	position: absolute;
	content: "";
	width: 3px;
	height: 12px;
	background: #92d050;
	left: 0;
	top: 4px;
}.pro-message{
	color:#f00;
	font-style:italic;
}.form-table.aeiwooc-tab:not(.active), #aeiwooc-pro-box a:not(.active){ 
	display:none;
}#aeiwooc-pro-box span{ color:#f00; }

.wpshare247_aeiwooc_order_download a, .wpshare247_aeiwooc_order_download img{ display:block; float:left; }
.wpshare247_aeiwooc_order_download img{ width:25px; margin-top: 1px; }
#WPSHARE247_AEIWOOC_tab .nav-tab-active{ background:#fff; }
#excel_template_img{ margin-top:20px; }
.aeiwoo-media{
	float: left;
	width: 100%;
	margin-right: -10px;
	margin-left: -10px;
}
.aeiwoo-media .wpshare247_aeiwooc_removeit{ 
	position: absolute;
	z-index: 1;
	right: 10px;
	top: 10px;
}.Aeiwooc_border_style{
    border: 1px solid #ccc;
    margin-top: 6px;
}

